@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap");
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin: 0;
  background-color: #95d7efff;
  font-size: 14px;
  /* position: relative; */
  font-family: "open-sans", "helavetica neue", ariel, sans-serif;
  color: #f5f5f5;
}
#landing-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background: url(/photos/background-minecraft.png) no-repeat center
    center/cover;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  text-align: center;
}
#landind-page-main-box {
  margin-top: 25%;
  /* width: 50vw; */
  height: 100%;
}
#instructions-box p {
  width: 50%;
  text-align: center;
  margin-left: 25%;
  margin-bottom: 10%;
}

#game-on-page {
  /* flex-direction: column; */
  width: 100vw;
  display: flex;
}
#game-board {
  /* background-color: rgb(89, 165, 228); */
  background: url(/photos/a041c49097c7c5291218e4c773d372ad.jpg) no-repeat center;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(30, 1fr);
}
.game-dashboard {
  width: 10rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #555555;
  text-align: center;
  padding: 1rem 0.2rem;
  flex-shrink: 0;
}

.trunk {
  background-color: rgb(89, 45, 29);
}
.soil {
  /* background-color: #f3c98eff; */
  background-color: #dead60ff;
}
.grass {
  background-color: rgb(72, 111, 56);
  border: rgb(77, 126, 58) solid 0.2px;
  border-radius: 1px;
}
.leaves {
  background-color: rgb(138, 206, 49);
}
.stone {
  background-color: grey;
  border: 0.1px solid rgb(139, 138, 138);
  border-radius: 3px;
}
.flex {
  display: flex;
}

.tool-image {
  width: 2.5rem;
  height: 5rem;
  /* border: 1px black solid; */
  border-radius: 5px;
}
.tools-container {
  justify-content: space-around;
  width: 90%;
}
.inventroy-container {
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  /* gap: 0.5rem; */
  /* margin-top: 0; */
  flex-shrink: 1;
}
.mined-image {
  width: 2.5rem;
  height: 2.5em;
  border: 1px #424549 solid;
  margin-top: 0.5rem;
}
.dark-mood {
  background: url(/photos/night-bg.jpeg) no-repeat center center/cover !important;
}
button {
  margin: 0.2rem;
  font-size: 0.8rem;
  cursor: pointer;
}
.display-none {
  display: none;
}
.buttons-container {
  flex-direction: column;
  gap: 0.3rem;
}
.selected {
  outline: #7289da 2px solid !important;
}
.settings-container button {
  background-color: #7289da;
  border: none;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  color: #f5f5f5;
  border-radius: 5px;
}
.settings-container button:hover {
  outline: 1px solid #36393e;
}
