body {
  height: 100vh;
  width: 100vw;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  margin: 0;
  background-color: #ccc;
  font-size: 14px;
}
#landing-page {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: aqua;
}
#game-board {
  background-color: rgb(89, 165, 228);
  width: 90%;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(30, 1fr);
}
.game-dashboard {
  width: 10rem;
  flex-direction: column;
  /* background-color: #ccc; */
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0.5rem 0.2rem;
  flex-shrink: 0;
}

.trunk {
  background-color: darkred;
}
.soil {
  background-color: rgb(195, 156, 41);
}
.grass {
  background-color: rgb(105, 81, 3) !important;
  /* background-image: url(/photos/stone.png); */
  /* background-color: pink; */
  /* width: 5px;
  height: 3px; */
}
.leaves {
  background-color: green;
}
.stone {
  background-color: grey;
  border: 0.1px solid black;
  border-radius: 3px;
}
.flex {
  display: flex;
}
/* .item-box {
  border: 1px black solid;
  margin: 0.2rem;
  padding: 0.2rem;
} */
.tool-image {
  width: 2.5rem;
  height: 5rem;
  border: 1px black solid;
}
.tools-container {
  justify-content: space-around;
  width: 90%;
}
.inventroy-container {
  flex-direction: column;
  justify-content: space-around;
  height: 30%;
  /* gap: 0.5rem; */
  /* margin-top: 0; */
}
.mined-image {
  width: 2.5rem;
  height: 2.5em;
  border: 1px black solid;
  margin-top: 0.5rem;
}
.selected {
  box-shadow: 2px 2px 75px 12px rgba(255, 216, 0, 1);
  -webkit-box-shadow: 2px 2px 75px 12px rgba(255, 216, 0, 1);
  -moz-box-shadow: 2px 2px 75px 12px rgba(255, 216, 0, 1);
}
.dark-mood {
  background: url(/photos/night-bg.jpeg) no-repeat center center/cover;
}
button {
  margin: 0.2rem;
}
button:hover {
  outline: 0.5px solid black;
}
.display-none {
  display: none;
}
